# The following requirements are needed only on Raspberry Pi IoT:
gatt

# The following requirements are needed only on Windows Virtual IoT:
ghostscript==0.7; sys_platform == "win32"

# The following requirements are needed on both platforms, but are installed
# via apt-get on the Raspberry Pi:
PyKCS11==1.5.16; sys_platform == "win32"
schedule==1.2.1; sys_platform == "win32"

# The following requirements are needed on both platforms:
websocket-client==1.6.3
